@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0px;
    padding: 0px;
}

p{
    font-weight: bold;
    font-size: 14px;
}