* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #EAE8FE;
    text-align: center;
}

body .logo {
    width: 436px;
    vertical-align: top;
    margin: 0 24px 34px;

}

.container {
    display: grid;
    grid-template-areas: "right left";
    grid-template-columns: 1fr 1fr;
    width: 750px;
    margin: auto;
}

.left,
.right {
    margin: 33px auto;
    width: 360px;
    /* background-color: white; */
}

.left {
    box-shadow: inset 0 0 10px red;
}

li {
    list-style: none;
}

/* left */

/* right */
.money,
.count {
    display: grid;
    grid-template-areas: "a b";
    grid-template-rows: 1fr 10fr;
    width: 306px;
    padding: 9px 27px;
    background: #fff;
}

/* 소지금 */
.money {
    display: inline-flex;
    font-size: 14px;
    font-weight: bold;
}

.money p {
    flex-grow: 1;
    flex-basis: 0;
    background-color: #EAE8FE;
    padding: 6px 10px;
    
}
.money p:first-child {
    text-align: start;
    border-radius: 5px 0px 0px 5px;
}

.money p:nth-child(2) {
    text-align: end;
    border-radius: 0px 5px 5px 0px;
}

/* 선택음료 */
.count {
    margin-top: 18px;
    grid-template-areas: "a" "b" "c";
    grid-template-rows: 1fr 7.4fr 1fr;
}


.count p:first-child{
    margin: 16px auto 13px;
}

.count p:nth-child(3){
    margin-top: 6px;
    font-size: 12px;
    text-align: right;
}

.count .drink-count {
    background: #EAE8FE;
    display: grid;
    grid-template-columns: 69fr 1fr;
    text-align: left;
    border-radius: 5px;
    border: 1px solid #BDBDBD;
}

.count .scroll{
    height: 79px;
    background: white;
    border-radius: 50px;
    padding: 0 4px;
    margin: 9px 4px;
}

.count li{
    background: #fff;
    margin: 3px 6px 3px 12px;
    border-radius: 5px;
    display: inline-flex;
    width: 276px;
    overflow: auto;
}

.count li:first-child{
    margin-top: 12px;
}

.count li img{
    width: 18px;
    height: 33px;
    margin: 9px 10px auto;
}

.count li .drink-name{
    margin: 18px 0px;
    font-size: 9px;
    font-weight: initial;
}

.count li .number{
    border-radius: 5px;
    border: 1px solid #BDBDBD;
    text-align: center;
    margin: auto 8px auto auto;
    width: 30px;
    height: 24px;
    padding-top: 6px;
}