body {
    background: #EAE8FE;
    text-align: center;
}

body .logo {
    width: 436px;
    vertical-align: top;
    margin: 0 24px 34px;

}

.container {
    display: grid;
    grid-template-areas: "right left";
    grid-template-columns: 1fr 1fr;
}

.right {
    margin: 34px auto auto 14px;
    width: 360px
}

.left {
    margin: 34px 14px auto auto;
    background: #fff;
    width: 360px;
    /* display: grid;
    grid-template-rows: 1.45fr 1fr; */
}

li {
    list-style: none;
}

/* left */
/* 자판기 - 음료목록 */
.drink-list {
    display: grid;
    grid-template-areas: "a b c" "d e f";
    gap: 12px;
    margin: 31px 27px 20px;
    border-radius: 10px;
}

.drink-list div {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.drink-list img {
    margin: 11px 29px 6px;
    width: 35.86px;
    vertical-align: top;
}

.drink-list p{
    font-size: 9px;
    font-weight: initial;
}

.drink-list div p:nth-of-type(2) {
    background-color: #6327FE;
    border-radius: 50px;
    margin: 7px 11px 9px 13px;
    font-size: 12px;
    color: #fff;
}

.drink-list div:first-of-type,
.drink-list div:nth-of-type(5){
    border: 3px solid #6327FE;
    box-shadow:initial;
}

.drink-list .soldout{
    position: relative;
}

.drink-list .soldout::before{
    content: '';
    position: absolute;
    display: block;
    background: url(../img/soldout.png) no-repeat;
    background-color: rgba(0, 0, 0, 0.8);
    background-position: center;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    border-radius: 10px;
}

/* 자판기 버튼 */
.get-drink {
    display: grid;
    grid-template-areas: "a b" "c d" "e f";
    grid-template-columns: 2.12fr 1fr;
    grid-template-rows: 1fr 1fr 3.3fr;
    gap: 12px;
    margin: 0px 27px 28px 27px;
    font-size: 13px;
}

.get-drink p{
    padding-top: 6px;
}

.get-drink p:nth-child(odd),
.get-drink input{
    border: 1px solid #BDBDBD;
    text-align: left;
    padding-left: 10px;
    border-radius: 5px;
}

.get-drink p:nth-child(even) {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    font-weight: 500;
    border-radius: 5px;
}

.get-drink .change{
    display: inline-flex;
    font-size: 14px;
    font-weight: bold;
}

.get-drink .change p {
    flex-grow: 1;
    background-color: #EAE8FE;
}

.get-drink .change p:first-of-type {
    text-align: start;
    border: initial;
    border-radius: 5px 0px 0px 5px;
}

.get-drink .change p:nth-of-type(2) {
    text-align: end;
    margin-right: 0px;
    padding-right: 10px;
    border: initial;
    box-shadow: initial;
    border-radius: 0px 5px 5px 0px;
}

.get-drink p:nth-of-type(3) {
    padding-top: 40%;
    background: #6327FE;
    color: #fff;
}

.get-drink .drink-count{
    padding: 0px;
    max-height: 106px;
}

.get-drink .drink-count ul{
    overflow: hidden;
}

.get-drink .drink-count p{
    box-shadow: initial;
    padding: 0px;
}

.get-drink .drink-count li:nth-of-type(2){
    margin-bottom: 0px;
}
.get-drink .drink-count li .drink-name{
    margin-right: 0px;
}

.get-drink .drink-count li .number {
    margin: 7px 7px 7px 22px;
    padding: 5px 10px;
}

/* right */
.money,
.count {
    display: grid;
    grid-template-areas: "a b";
    grid-template-rows: 1fr 10fr;
    width: 306px;
    background: #fff;
}

/* 소지금 */
.money {
    display: inline-flex;
    font-size: 14px;
    font-weight: bold;
    padding: 9px 27px;
}

.money p {
    flex-grow: 1;
    background-color: #EAE8FE;
    padding: 6px 10px;
}

.money p:first-child {
    text-align: start;
    border-radius: 5px 0px 0px 5px;
}

.money p:nth-child(2) {
    text-align: end;
    border-radius: 0px 5px 5px 0px;
}

/* 선택음료 */
.count {
    padding: 7px 27px 8.5px;
    margin-top: 18px;
    grid-template-areas: "a" "b" "c";
    grid-template-rows: 1fr 7.3fr 1fr;
}

.count p:first-child {
    margin: 17px auto 13px;
}

.count p:nth-child(3) {
    margin-top: 6px;
    font-size: 12px;
    text-align: right;
}

.drink-count{
    background: #EAE8FE;
    display: grid;
    grid-template-columns: 56fr 1fr;
    text-align: left;
    border-radius: 5px;
    border: 1px solid #BDBDBD;
}

.drink-count .scroll {
    height: 79px;
    background: white;
    border-radius: 50px;
    padding: 0 2px;
    margin: 9px 4px;
}

.drink-count li{
    background: #fff;
    margin: 3px 6px 3px 12px;
    border-radius: 5px;
    display: inline-flex;
}

.drink-count li:first-child {
    margin-top: 12px;
}

li img{
    width: 18px;
    margin: 6px 10px 7px 10px;
}

li .drink-name {
    margin: 15px auto;
    font-size: 9px;
    font-weight: initial;
    width: 73px;
}

li .number {
    border-radius: 5px;
    border: 1px solid #BDBDBD;
    text-align: center;
    margin: auto 8px auto 127px;
    padding: 6px 10px;
}